<h2 style="text-align:center;">Currency</h2>
<div class="container">
  <div>
    <input class="cunversation form-control text-muted form-rounded p-4 shadow-sm" type="number" placeholder="What is value of input?">
    <select class="currency_selector form-rounded shadow-sm">
    </select>
  </div>
  <div>
    <input class="cunversation form-control text-muted form-rounded p-4 shadow-sm" type="number" placeholder="What is value of input?">
    <select class="currency_selector form-rounded  shadow-sm">
    </select>
  </div>
</div>
